{% extends "base.html" %}

{% block content %}
<h1>
    Audio
</h1>

<section>
    <p>This page showcases some audio I like, as well as some I have produced. Enjoy!</p>
</section>

<section>
    <h2>Favorite Albums</h2>

    <ul>
        <li>
            <section class="genre">
                <h3>Happy Hardcore/Gabber/Rave</h3>
                <ul>
                    <li>
                        <iframe style="border: 0; width: 100%; height: auto;"
                                src="https://bandcamp.com/EmbeddedPlayer/album=799199684/size=medium/bgcol=ffffff/linkcol=0687f5/transparent=true/">
                            <a href="http://offmenutrecords.bandcamp.com/album/off-me-nut-allstars-volume-3">
                                Off Me Nut Allstars Volume 3 by Various Artists</a></iframe>
                        <aside>
                            <p>Fun, energetic album featuring FORTY ONE songs from many, many artists.</p>
                            <p>For just &euro;10, this is a steal.</p>
                            <p>Wonderful for parties or raves.</p>
                        </aside>

                    </li>
                    <li>
                        <iframe style="border: 0; width: 100%; height: auto;"
                                src="https://bandcamp.com/EmbeddedPlayer/album=2543438435/size=medium/bgcol=ffffff/linkcol=0687f5/transparent=true/"
                                seamless><a href="http://offmenutrecords.bandcamp.com/album/black-white">
                            Black &amp; White by K-orse N Basshound</a></iframe>
                        <aside>
                            <p>A very 'dank' album by K-orse and Basshound.</p>
                            <p>This one's more jungle than rave, but is still rave-y.</p>
                            <p>Chiller than others that off me nut has released, but it still goes hard.</p>
                        </aside>
                    </li>
                </ul>
            </section>
        </li>
        <li>
            <section class="genre">
                <h3>Alt Rock/Breakcore</h3>
                <ul>
                    <li>
                        <iframe style="border: 0; width: 100%; height: auto;"
                                src="https://bandcamp.com/EmbeddedPlayer/album=2659743098/size=medium/bgcol=ffffff/linkcol=0687f5/transparent=true/">
                            <a href="http://biglad.bandcamp.com/album/pro-rock">
                                Pro Rock by Big Lad</a>
                        </iframe>
                        <aside>
                            <p>Head-banging, foot-stomping juggernaut of an album.</p>
                            <p>Recommended while playing Doom or a fast-paced shooter/driving game.</p>
                            <p>Not recommended for driving IRL, as you'll go way too fast.</p>
                        </aside>
                    </li>
                    <li>
                    </li>
                </ul>
            </section>
        </li>
        <li>
            <section class="genre">
                <h3>Alternative Rap</h3>
                <ul>
                    <li>
                        <iframe style="border: 0; width: 100%; height: auto;"
                                src="https://bandcamp.com/EmbeddedPlayer/album=920640752/size=medium/bgcol=ffffff/linkcol=0687f5/transparent=true/"
                                seamless><a href="http://nahstuff.bandcamp.com/album/2016-complete-works">
                            2016 COMPLETE WORKS by NAH</a></iframe>
                        <aside>
                            <p>This moody, experimental album is a very interesting one.</p>
                            <p>It's an equal measure of cacophonic and rhythmic.</p>
                            <p>Odd instuments, odd beats, and a great album.</p>
                            <p>Some tracks have no vocals, and others have <b>very</b> powerful and emotional vocals.
                            </p>
                        </aside>
                    </li>
                    <li>
                        <iframe style="border: 0; width: 100%; height: auto;"
                                src="https://bandcamp.com/EmbeddedPlayer/album=3872734199/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/"
                                seamless><a href="http://suckpuckrecordz.bandcamp.com/album/lp">
                            Приехали LP by Prid Prod</a></iframe>
                        <aside>
                            <p>An album from an artist coming from the Ukranian ghetto, this is an absolute gem by Prid
                                Prod.</p>
                            <p>Energetic and goofy, this album will make you bob your head even if you don't speak
                                Russian.</p>
                        </aside>
                    </li>
                </ul>
            </section>
        </li>
        <li>
            <section class="genre">
                <h3>Noise/Other</h3>
                <ul>
                    <li>
                        <iframe style="border: 0; width: 100%; height: auto;"
                                src="https://bandcamp.com/EmbeddedPlayer/album=1004940734/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/">
                            <a href="http://liesrecords.bandcamp.com/album/autogolpe">
                                Autogolpe by Cienfuegos</a></iframe>
                        <aside>
                            <p>Feel free to grab your bow and arrows for this album.</p>
                            <p>An extremely relaxing (or focusing) album that can be described easily by one word:
                                "tribal".</p>
                            <p>Beautiful rhythm layering, chilling vocals, and a diverse group of instruments make the
                                $8 for this album worth the price.</p>
                        </aside>
                    </li>
                    <li>
                        <iframe style="border: 0; width: 100%; height: auto;"
                                src="https://bandcamp.com/EmbeddedPlayer/album=2216588564/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/"
                                seamless><a href="http://cockrockdisco.bandcamp.com/album/angel-93">
                            Angel 93 by Elevation and x.nte</a></iframe>
                        <aside>
                            <p>Eclectic, weird, and wonderful breakcore/noise album.</p>
                            <p>Every song cycles through peaceful calmness, frantic snare breaks, and heavy noise.
                                Listen to this album if you want something very different, but good.</p>
                            <p>The aural embodiment of restlessness or insomnia.</p>
                            <p>This album is especially fun to listen to if you have ADHD or have drank too much
                                coffee.</p>
                        </aside>
                    </li>
                </ul>
            </section>
        </li>
    </ul>
</section>

<section>
    <h2>Audio I am to blame for</h2>

    <ul>
        <li>
            <h3>Songs</h3>
            <ul>

            </ul>
        </li>
        <li>
            <h3>Sound effects</h3>
            <ul>
                <li>
                    <p>Sound Effect 1</p>
                    <p><a href="{{ url_for('static', filename='audio/soundeffect1.mmpz') }}">
                        LMMS file</a></p>
                    <audio controls src="{{ url_for('static', filename='audio/soundeffect1.wav' )}}"></audio>
                </li>
                <li>
                    <p>Sound Effect 2a and 2b (same settings file)</p>
                    <p><a href="{{ url_for('static', filename='audio/soundeffect2.dexed') }}">
                        DEXED settings file</a></p>
                    <ul>
                        <li>
                            <p>Sound Effect 2a</p>
                            <audio controls src="{{ url_for('static', filename='audio/soundeffect2-a.wav' )}}"></audio>
                        </li>
                        <li>
                            <p>Sound Effect 2b</p>
                            <audio controls src="{{ url_for('static', filename='audio/soundeffect2-b.wav' )}}"></audio>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <h3>Songs/soundtracks</h3>
            <ul>
                <li>
                    <p>Definitely not a Metroid song, by HenryFBP</p>
                    <p><a href="{{ url_for('static', filename='audio/soundtrack1.mmpz') }}">
                        LMMS file</a></p>
                    <audio controls src="{{ url_for('static', filename='audio/soundtrack1.wav') }}"></audio>
                </li>
                <li>
                    <p>Definitely not a Castlevania song, by HenryFBP</p>
                    <p><a href="{{ url_for('static', filename='audio/soundtrack2.mmpz') }}">
                        LMMS file</a></p>
                    <audio controls src="{{ url_for('static', filename='audio/soundtrack2.wav') }}"></audio>
                </li>
            </ul>
        </li>
    </ul>
</section>
{% endblock %}