{% extends "base.html" %}

{% block content %}
<h1>Examining our app</h1>

<aside>
    <p>I have also made a video version of this page, and it is shown below.</p>
    <p>This is the same as the first one.</p>
    <p><a href="https://www.youtube.com/watch?v=1iN8voA_oy8">Here</a> is a link to it on YouTube.</p>

    <iframe class="video" src="https://www.youtube-nocookie.com/embed/1iN8voA_oy8" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
</aside>


{% endblock %}