{% extends "base.html" %}

{% block content %}
    <h1>Welcome to my Android walkthrough!</h1>

    <p>This website is for ITMD 460, a Multimedia class at IIT.</p>
    <p>Made by <a href="http://henryfbp.me/">Henry Post</a>.</p>

    <aside>
        <p>I have collected all of my Android Studio Tutorial videos in a playlist below.</p>
        <p>Feel free to watch them!</p>
        <iframe class="video" src="https://www.youtube.com/embed/videoseries?list=PLxhBPQszJILuNR6bBvB6Y4Aw7mYPbvVdA" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </aside>
    <section>
        <p>Hello, and welcome to my ITMD 460 website, for my final project.</p>
        <p>This project is intended to walk you through:</p>
        <ol>
            <li><p>Setting up a development environment</p></li>
            <li><p>Making a skeleton project</p></li>
            <li><p>A crash course in Java</p></li>
            <li><p>Fully understanding all of the code in the skeleton project</p></li>
            <li><p>Extending your project with new functionality</p></li>
        </ol>
    </section>
{% endblock %}