{% extends "base.html" %}

{% block content %}
<h1>Welcome to my Android walkthrough!</h1>
<section>
    <p>Hello, and welcome to my ITMD 460 website, for my final project.</p>
    <p>This project is intended to walk you through:</p>
    <ol>
        <li>Setting up a development environment</li>
        <li>Making a skeleton project</li>
        <li>Crash course in Java</li>
        <li>Fully understanding all of the code in the skeleton project</li>
        <li>Extending your project with new functionality</li>
    </ol>
</section>
{% endblock %}