{% block navigation %}
    <ul>
        <li><a href="{{ url_for('index') }}">
            Index
        </a></li>

        <li><a href="{{ url_for('setup') }}">
            Setup
        </a></li>

        <li><a href="{{ url_for('your_first_app') }}">
            Your First App
        </a></li>

        <li><a href="{{ url_for('coding_primer') }}">
            XML and Java Primer
        </a></li>

        <li><a href="{{ url_for('examining_our_app') }}">
            Examining our app
        </a></li>
    </ul>
{% endblock %}
