{% extends "base.html" %}

{% block content %}
<h1>
    Video
</h1>

<section>
    <p>This page showcases some videos I like, and some I've produced.</p>
</section>

<section>
    <h2>Cool CS Videos</h2>
    <section class="videos">
        <iframe src="https://www.youtube-nocookie.com/embed/1S0aBV-Waeo" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

        <iframe src="https://www.youtube-nocookie.com/embed/bnRNiE_OVWA" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

        <iframe src="https://www.youtube-nocookie.com/embed/aweqeMxDnu4" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

    </section>
</section>

<section>
    <h2>Funny videos</h2>
    <section class="videos">
        <iframe src="https://www.youtube-nocookie.com/embed/JYM-vPKyxfA" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

        <iframe src="https://www.youtube-nocookie.com/embed/nLIK5HYkVQE" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </section>
</section>

<section>
    <h2>Videos I've made</h2>
    <section class="videos">
        <iframe src="https://www.youtube-nocookie.com/embed/ihla2RISOFo" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

        <iframe src="https://www.youtube-nocookie.com/embed/Y7WGcnd_yNw" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </section>
</section>
{% endblock %}